{% include "header.html" %}
<div class="container main">
    <h1 class="contact">About me.</h1>
</div>
<br>
<div>
    <a class="name" href="{{ url_for('home') }}">M. Boradyn</a>
</div>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="subtitle">As an emerging Python programmer, I have developed a deep passion
                for the world of technology and am eager to share my newfound skills and enthusiasm with others.</h2>
            <br>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#whoami">Who am I.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#techskills">Technical Skills.</a>
            </li>
            <li class="nav-item stack">
                <a class="nav-link active text-reset stack" style="--index: 0;" href="#lang">Languages.</a>
            </li>
            <br>
            <br>
            <h2 id="whoami">Who am I.</h2>
            <p>Aarav Gupta, a budding talent in the world of technology, is a 13-year-old dynamo with a passion for Python development. Currently in 8th grade, Aarav has already set his sights on a career as a Python developer, showcasing a remarkable blend of enthusiasm and determination.

                Beyond the world of coding, Aarav finds joy on the football field, where he channels his energy into the sport he loves. Whether scoring goals or enjoying the camaraderie with teammates, football serves as a perfect counterbalance to Aarav's tech-centric pursuits.
                
                A quick learner and a natural problem solver, Aarav's journey into the realm of Python development began early. His curiosity and dedication have driven him to explore the intricacies of coding, and he has already demonstrated a knack for crafting solutions that are both innovative and effective.
                
                While still in the early stages of his academic journey, Aarav is making waves with his commitment to honing his coding skills. With a keen interest in Python, he is already taking steps to contribute to the programming community, showcasing a mindset that extends beyond the classroom.
                
                As Aarav navigates through his teenage years, his dual passions for football and Python development are shaping him into a well-rounded individual with a promising future. With his sights set on the world of technology, Aarav Gupta is undoubtedly a name to watch in the years to come.</p>
            <br>
            <h2 id="techskills">Technical Skills.</h2>
            <p><strong>Programming and Web Development:</strong> Python, Django, Flask, Bootstrap, HTML, CSS, Git, GitHub, Postgres, MySQL, SQLite.</p>
            <br>
            <h2 id="lang">Languages.</h2>
            <p><b>English</b>
            <p><b>Hindi</b>
            <p><b>French</b>
            <br>
            <div class="cursor-outer"></div>
            <div class="cursor-inner"></div>
        </div>
    </div>
</div>

{% include "footer.html" %}
